# Unpinned requirements to install latest compatible versions.
# If you need a lockfile, generate one with pip-compile.

scrapy
scrapy-playwright
playwright
scrapyd
scrapyd-client
sqlalchemy
psycopg2
